= simple_form_for @vessel, html:{class:'form-horizontal'} do |f|
  - if @vessel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vessel.errors.count, "error")} prohibited this vessel from being saved:"
      %ul
        - @vessel.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, label: "Vessels name:"
  = f.input :vessels_type, label: 'Type of the vessel'
  = f.input :nav_area, label: 'Navigation area'
  = f.input :yob, label: 'Year of build'
  = f.input :dwt, label: 'Deadweight'
  = f.input :dwcc, label: 'DWT Cargo capacity'
  = f.input :grt, label: 'GRT'
  = f.input :nrt, label: 'NRT'
  = f.input :volume, label: 'Holds volume in cubic meters:'
  = f.input :speed_loaded, label: "Loaded vessels speed: "
  = f.input :speed_ballast, label: 'Vessels speed in ballast'
  = f.input :fuel1_uw, label: 'Heavy fuel underway:'
  = f.input :fuel2_uw, label: 'Gasoil underway'
  = f.input :fuel1_ip, label: 'Heavy fuel consumption in port'
  = f.input :fuel2_ip, label: 'Gasoil consumption in port'
  = f.input :lo1_uw, label: 'Lubricant type 1 consumption underway'
  = f.input :lo2_uw, label: 'Lubricant type 2 consumption underway'
  = f.input :lo1_ip, label: 'Lubricant type 1 consumption idle'
  = f.input :lo2_ip, label: 'Lubricant type 2 consumption idle'
  = f.input :draft, label: 'Vessels draft'
  = f.input :salary, label: 'Crew salary in USD per month'
  = f.input :fw_cons, label: 'Fresh water consumption per day'
  = f.input :hire, label: 'Hire rate'
  = f.input :office_exp, label: 'Office keep-up expenses'
  = f.input :pandi, label: 'PANDI calls in USD per year'
  = f.input :pic_url, label: 'URL of vessels piture'
  = f.input :other_url, label: 'URL for other vessels docs'
  = f.input :comment, label: 'Comment:'
  = f.input :user_id, value: '#{current_user.id}'
  .actions
    = f.submit 'Save', class:'btn btn-default'
