%h1 Listing vessels
%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Built
      %th DWCC
      %th GRT
      %th NRT
      %th Volume (cbm)
      %th Speed loaded (kn0ts)
      %th Speed ballast (knots)
      %th Draft (meters)
  %tbody
    - @vessels.each do |vessel|
      %tr
        %td= link_to "#{vessel.name}", vessel
        %td= vessel.yob
        %td= vessel.dwcc
        %td= vessel.grt
        %td= vessel.nrt
        %td= vessel.volume
        %td= vessel.speed_loaded
        %td= vessel.speed_ballast
        %td= vessel.draft
        - if current_user
          %td= link_to 'Destroy', vessel, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Vessel', new_vessel_path
