.panel.panel-info.col-md-6.col-md-offset-3
  .panel-heading
    .container
      %h4 Log in:
  .panel-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:"form-horizontal"}) do |f|
      = f.input :email, autofocus: true, placeholder: 'enter your email:'
      = f.input :password, autocomplete: "off", hint: '8 characters'
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      .actions
        = f.submit "Log in"